post_list.html
<html>
        <head>
            <title>Django Girls blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Cholpon's Blog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first work</a></h2>
                <p>Программирование это сложный, но интересный процесс.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Еще столько всего предстоит узнать и понять :).</p>
            </div>
        </body>
    </html>